<!--top-header-->
<div class="top-header">
	<div class="container">
		<div class="top-header-main">
			<div class="col-md-4 top-header-left">
				<div class="search-bar">
					<input type="text" value="Search" onfocus="this.value = '';"
						onblur="if (this.value == '') {this.value = 'Search';}"> <input
						type="submit" value="">
				</div>
			</div>
			<div class="col-md-4 top-header-middle">
				<a th:href="@{/home}"><img src="/public/images/logo-4.png"
					alt="" /></a>
			</div>
			<div class="col-md-4 top-header-right">
				<div class="cart box_1">
					<a href="checkout.html">
						<h3>
							<div class="total">
								<span class="simpleCart_total"></span> (<span
									id="simpleCart_quantity" class="simpleCart_quantity"></span>
								items)
							</div>
							<img src="images/cart-1.png" alt="" />
					</a>
					<p>
						<a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
					</p>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!--top-header-->
<!--bottom-header-->
<div class="header-bottom">
	<div class="container">
		<div class="top-nav">
			<ul class="memenu skyblue">
				<li class="showhide" style="display: list-item;"><span
					class="title">MENU</span><span class="icon1"></span> <span
					class="icon2"></span></li>
				<li class="active" style="display: block;"><a
					th:href="@{/home}">Home</a></li>
				<th:block data-th-each="category1 : ${categories}">
					<li class="grid" style="display: block;"><a href="#">
						<span th:text="${category1.name}"></span>
					</a>
						<div class="mepanel" style="display: none; opacity: 1;">

							<div class="row">
								<th:block data-th-if="${category1.categories.size()} > 0">
									<th:block data-th-each="category2 : ${category1.categories}">
										<div class="col1 me-one">
											<h4 th:text="${category2.name}"></h4>
											<th:block data-th-if="${category2.categories.size()} > 0">
												<ul>
													<th:block data-th-each="category3 : ${category2.categories}">
														<li><a th:href="@{'/product/category/' + ${category3.idcategory}}">
															<span th:text="${category3.name}"></span>
														</a></li>
													</th:block>
												</ul>
											</th:block>
										</div>
									</th:block>
								</th:block>
							</div>
						</div>
					</li>
				</th:block>

			</ul>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!--end-breadcrumbs-->
